.app-logo {
  width: 3.5rem;
  height: 3.5rem;
}

.my-logo {
  width: 2.2rem;
  height: 2.2rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .appbar {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 768px) {
  .my-logo {
    display: block;
  }
}
.tab-menu {
  padding: 0 10px;
  max-width: 500px;
  margin: auto;
}

.icon,
.tab-menu-text {
  color: var(--va-primary);
  font-size: 1.3rem;
}

.tab-menu-text {
  margin: 0 0 12px 0;
}

.icon {
  padding: 0 0 12px 0;
}

.modal-container {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 60%;
  }
}
@media screen and (min-width: 1025px) {
  .modal {
    width: 40%;
  }
}
.todo-container {
  padding: 0 2vw;
}

.form-control,
.todo-description,
.todo-info,
.todo-extra {
  cursor: pointer;
}

.todo {
  margin: 5px 0;
}
.todo.selected {
  position: relative;
}

.todo-details {
  display: flex !important;
  flex-direction: row !important;
  font-size: 0.8rem;
}

.todo-description {
  font-size: 1rem;
}

.todo-extra {
  font-size: 0.8rem;
  color: orange !important;
}

.form-control {
  position: relative;
}

.checkbox {
  position: absolute;
  top: -2.5px;
  left: 16px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  display: inline-block;
}

.isCompleted {
  text-decoration: line-through;
}

.todo-more-icon {
  font-size: 1.4em;
  color: gray;
  cursor: pointer;
}

.p-normal {
  color: #464a68;
}

.p-high,
.p-high-2 {
  color: red;
}

.p-low,
.p-low-2 {
  color: blue;
}

.p-med,
.p-med-2 {
  color: orange;
}

.p-high.p-high-2 {
  color: red;
}
.p-high.p-med-2 {
  color: red;
}
.p-high.p-low-2 {
  color: red;
}

.p-med.p-high-2 {
  color: orange;
}
.p-med.p-med-2 {
  color: orange;
}
.p-med.p-low {
  color: orange;
}

.p-low.p-high-2 {
  color: blue;
}
.p-low.p-med-2 {
  color: blue;
}
.p-low.p-low-2 {
  color: blue;
}

.va-collapse__header__text {
  font-size: 1.05rem;
  font-weight: bold;
}

.project-accordion {
  width: 100%;
  padding: 1.2rem 0 5rem 0;
}

.project-container {
  width: 90%;
  margin: auto;
}

.project {
  padding: 1.8rem 0 1.5rem 0;
}

.project-toolbar {
  padding: 0 1rem 1.2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-toolbar div {
  cursor: pointer;
}
.project-toolbar i {
  font-size: 1.1rem;
  margin: 0 5px 0 0;
}
.project-toolbar span {
  font-size: 0.9rem;
}
.project-toolbar i, .project-toolbar span {
  color: #464a68;
}
.project-toolbar .toolbar-delete > * {
  color: #b31b1b;
}
.project-toolbar .toolbar-delete i {
  font-size: 1rem;
}
.project-toolbar div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-toolbar div:nth-of-type(2) div:nth-of-type(1) {
  margin: 0 20px 0 0;
}

@media screen and (min-width: 1025px) {
  .project-container {
    width: 80%;
  }

  .project-accordion {
    margin: 2rem 1rem;
  }
}
.va-popover__content-wrapper {
  margin: 0 10px;
}

.va-popover__content {
  background: rgba(44, 130, 224, 0.3) !important;
  box-shadow: none !important;
}

.add-dial-container {
  position: fixed;
  bottom: 3vh;
  right: 8vw;
  z-index: 100;
}

.add-dial {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--va-primary);
  border: 0;
}

.rotate {
  transition: 0.2s all ease;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.fa-plus {
  color: white;
  transition: 0.2s all ease;
  font-size: 1.2em;
}

.add-dial-content {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-dial-item {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--va-primary);
  margin: 5px 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-clipboard-list,
.fa-project-diagram {
  font-size: 1.2em;
}

@media screen and (min-width: 1025px) {
  .add-dial-container {
    bottom: 10vh;
    right: 25vw;
  }
}
.button {
  background: var(--va-primary);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  margin: 20px 0 5px 0;
  cursor: pointer;
}

.priority-menu {
  margin: 8px 0 0 0;
}

.priority-item {
  margin: 10px 0;
  cursor: pointer;
}
.priority-item span {
  margin: 0 0 0 10px;
}

.edit-todo-menu {
  position: absolute !important;
  right: 5vw !important;
  margin: -1vh -2vw;
  z-index: 101;
}
.edit-todo-menu i {
  font-size: 1.05rem;
  margin: 0 10px 0 0;
}
.edit-todo-menu span {
  font-size: 0.95rem;
}

.edit-todo-item {
  margin: 14px 0;
  cursor: pointer;
}
.edit-todo-item:nth-of-type(1):hover {
  color: var(--va-primary);
}
.edit-todo-item:nth-of-type(2):hover {
  color: #b31b1b;
}

@media screen and (min-width: 1025px) {
  .edit-todo-menu {
    right: 0;
  }
}
.fa-clock {
  font-size: 1rem !important;
  color: var(--va-primary);
}

.form-control {
  margin: 8px 0;
}

.label {
  display: block;
  position: relative;
}

.input {
  display: block !important;
  margin: 8px 0 0 0;
  padding: 10px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 2px;
}

.endornment-container {
  position: fixed;
  top: 38%;
  right: 9%;
  z-index: 99;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .endornment-container {
    top: 37.5%;
    right: 7%;
  }
}
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px 0;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 80vh;
    max-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 650px;
  }
}
@media screen and (min-width: 1281px) {
  .container {
    max-width: 750px;
  }
}/*# sourceMappingURL=styles.css.map */