.app-logo {
  width: 4.5rem;
  height: 4.5rem;
}

.tab-menu {
  padding: 0 10px;
}

.icon,
.tab-menu-text {
  color: var(--va-primary);
  font-size: 1.3rem;
}

.tab-menu-text {
  margin: 0 0 10px 0;
}

.icon {
  padding: 0 0 10px 0;
}

.modal-container {
  position: fixed;
  inset: 0;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .modal {
    width: 40%;
  }
}
.todo-container {
  padding: 0 2vw;
}

.todo {
  margin: 5px 0;
}
.todo.selected {
  position: relative;
}

.todo-info {
  display: flex !important;
  flex-direction: row !important;
}

.todo-description {
  font-size: 1.1rem;
}

.todo-extra {
  font-size: 0.85rem;
  color: orange !important;
}

.form-control {
  position: relative;
}

.checkbox {
  position: absolute;
  top: -2.5px;
  left: 16px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  display: inline-block;
}

.isCompleted {
  text-decoration: line-through;
}

.todo-more-icon {
  font-size: 1.4em;
  color: gray;
  cursor: pointer;
}

.p-high,
.p-high-2 {
  color: red;
}

.p-low,
.p-low-2 {
  color: blue;
}

.p-med,
.p-med-2 {
  color: orange;
}

.p-high.p-high-2 {
  color: red;
}
.p-high.p-med-2 {
  color: red;
}
.p-high.p-low-2 {
  color: red;
}

.p-med.p-high-2 {
  color: orange;
}
.p-med.p-med-2 {
  color: orange;
}
.p-med.p-low {
  color: orange;
}

.p-low.p-high-2 {
  color: blue;
}
.p-low.p-med-2 {
  color: blue;
}
.p-low.p-low-2 {
  color: blue;
}

.add-dial-container {
  position: absolute;
  bottom: 5vh;
  right: 8vw;
}

.add-dial {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--va-primary);
  border: 0;
}

.rotate {
  transition: 0.2s all ease;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.fa-plus {
  color: white;
  transition: 0.2s all ease;
  font-size: 1.2em;
}

.add-dial-content {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-dial-item {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--va-primary);
  margin: 5px 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa-clipboard-list,
.fa-project-diagram {
  font-size: 1.2em;
}

@media screen and (min-width: 1025px) {
  .add-dial-container {
    bottom: 5vh;
    right: -4vw;
  }
}
.button {
  background: var(--va-primary);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  margin: 20px 0 5px 0;
}

.form-control {
  margin: 8px 0;
}

.label {
  display: block;
  margin: 8px 0;
  position: relative;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 2px;
}

.endornment-container {
  position: absolute;
  top: 50%;
  right: 2%;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
  margin: 0 5px 0 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.priority-menu {
  margin: 8px 0 0 0;
}

.priority-item {
  margin: 10px 0;
}
.priority-item span {
  margin: 0 0 0 10px;
}

.edit-todo-menu {
  position: absolute !important;
  right: 5vw !important;
  margin: -2vh 0;
}
.edit-todo-menu i {
  font-size: 1.2rem;
  margin: 0 10px 0 0;
}
.edit-todo-menu span {
  font-size: 1.05rem;
}

.edit-todo-item {
  margin: 14px 0;
  cursor: pointer;
}
.edit-todo-item:hover {
  color: blue;
}

@media screen and (min-width: 1025px) {
  .edit-todo-menu {
    right: 0;
  }
}
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 85vh;
  margin: auto;
  padding: 10px 0;
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 700px;
  }
}/*# sourceMappingURL=styles.css.map */